main {
    /* background: linear-gradient(to bottom, #000000 80%, #04011f); */

    color: white;





}

@font-face {
    font-family: komikax;
    src: url(../font/KOMIKAX_.ttf);


}

@font-face {
    font-family: Azonix;
    src: url(../font/Azonix.otf);
}

@font-face {
    font-family: candara;
    src: url(../font/Candara\ Font.ttf);
}

:root {
    --corPrimaria: #09f0f0;
    --corSecundaria: #139fe0;

}

.komikax {
    font-family: komikax;
    /* font-style: italic; */
    /* color: var(--corPrimaria); */
    letter-spacing: 2px;

}

.borda {

    text-shadow: 0 0px 3px var(--corSecundaria);
    border-radius: 100%;




}

span {
    color: white;


}




.fundo {
    background-image: url(../img/para-aderson.png);
    object-fit: cover;

    background-size: cover;
    background-position: center center;
    min-width: 100vw;
    min-height: 70vh;



    background-repeat: no-repeat;

}

.menu {
    display: flex;
    justify-content: space-between;
    align-self: center;
    background: none;
    height: max-content;

}

.nav-link {
    font-family: azonix;
    letter-spacing: 1px;
    color: white;
    font-size: 14px;
    height: 32px;
    transition: 0.5s ease-in-out;



}

.nav-link:hover {
    color: var(--corSecundaria);
    letter-spacing: 2px;
}

.nav-link::after {
    content: " ";
    display: block;
    width: 0;
    height: 1px;
    border-radius: 200px;
    background: linear-gradient(to right, rgba(48, 48, 48, 1) 0%, rgba(19, 159, 224, 1) 50%, rgba(48, 48, 48, 1) 100%);
    transition: 0.5s ease;


}

.nav-link:focus {
    color: var(--corSecundaria);

}

.nav-link:hover::after {

    width: 100%;
    ;
}

.ativoColor {

    text-shadow: 0 0px 5px var(--corSecundaria);
    color: var(--corSecundaria);
}

.ativo::after {

    color: var(--corSecundaria);
    content: " ";
    display: block;
    width: 100%;
    height: 1px;
    border-radius: 200px;
    background: linear-gradient(to right, rgba(48, 48, 48, 1) 0%, rgba(19, 159, 224, 1) 50%, rgba(48, 48, 48, 1) 100%);

    /* border-bottom: 1px solid var(--corSecundaria); */





}

.borda::after {
    margin: auto;
    margin-top: 7px;
    color: var(--corSecundaria);
    content: " ";
    display: block;
    width: 70%;
    height: 1px;

    border-radius: 200px;
    background: linear-gradient(to right, rgba(48, 48, 48, 1) 0%, rgba(19, 159, 224, 1) 50%, rgba(48, 48, 48, 1) 100%);

    /* border-bottom: 1px solid var(--corSecundaria); */
}
.azonix{
    font-family: azonix;
    color: var(--corSecundaria);
    letter-spacing: 3px;
}
#nome{
    font-family: azonix;
    text-transform: uppercase;
    
}
#nome::after{
    content: '|';
    margin-left: 4px;
    opacity: 1;
    animation: pisca 0.7s infinite;
    color: var(--corPrimaria);

}
@keyframes pisca{
0% , 100%{
    opacity: 1;
}
50%{
    opacity: 0;
}
}